
<li><p>Sale Alert: {{announcement.sales}}</p>
    <p>Weather Alert: {{announcement.weather}}</p>
    <p>News: {{announcement.news}}</p>
    <button class="btn btn-danger" {{action 'delete' announcement}}>Delete</button>
</li>
